<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html">
		
        <title> Велорент </title>

		<link rel="stylesheet" type="text/css" href="demo.css" />
		<link rel="stylesheet" type="text/css" href="set1.css" />
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<div class="container">
			<header class="codrops-header">
				<h1>Поздравляю вы успешно забронировали велосипед, и он ожидает вас в пункте проката.
					Для начала и окончания аренды воспользуйтесь ссылкой:
					<a href="<%=link%>"> <span><%=link%></span> </a>
				</h1>
				
			</header>
		</div>
	</body>
</html>